
<div class="background">
<img src="/assets/bk2.jpg">
</div>
<br><br><br>
<div class="text">
    <div class="border">
      <span>Welcome to REsearchr</span><br>
    </div>
  <span class="sm">Real Estate Neighborhood Comparisons</span>
</div>


