
<div class="background">
<img src="/assets/bk2.jpg">
</div>
<br><br><br>
<div class="text">
<span>Welcome to REsearchr</span><br>
<span class="sm">The top resource for Real Estate Neighborhood Comparisons</span>
</div>


