
<div class="background">
<img src="/assets/bk2.jpg">
</div>
<br><br><br>
<div class="text">
    <div class="border">
      <span>Welcome to REsearchr</span><br>
    </div>
  <span class="sm">NYC Real Estate Neighborhood Comparisons</span>
</div>
<div class="wrapper">
  <div class="home-button">
    <a href="/users/new">Join</a>
  </div>
  <div class="home-button">
    <a href="/login">Login</a>
  </div>
</div>  



