<h1>Welcome to REsearcher</h1>
<h2>The top resource for Real Estate Neighborhood Comparisons</h2>

<div class="user_panel">
  <p><%= link_to "Join us!", new_user_path %></p>
  <p><%= link_to "Login, Old Friend...", "/login" %></p>
</div>

