<div class="about">
<h1>Cory A. Haber</h1>
<h2>Aspiring web developer</h2>
<p>After spending the last 10 years architecting and designing web-based applications for a variety of businesses, it is clear that the next step in Cory's evolution is to become a fully functional web developer.  Cory has the drive and entrepreneurial spirit to take his talents to the next level.  Over the last 15 years Cory has started 5 businesses, the first when he was just 19 years old.  They include a political news site, a search engine for web-based applications, a web-based news site, a green bag company and lastly a residential real estate brokerage business.</p>

<p>Cory Haber is currently President and co-founder of Rubicon Property. He has spent the last decade in the technology field, specifically, building and designing custom cloud computing applications to run nearly every aspect of any business. Cory was asked to speak at the 2008 Salesforce.com Dreamforce conference in San Francisco on how to customize Salesforce.com for your organization. Cory is well versed in content management systems, website analytics, search engine marketing and optimization strategies. His group won the 10th annual ad:tech award for best business-to-business transaction website.</p>

<p>Aside from technology, Cory has a passion for art (painting, photography and printmaking) and science (physics, astronomy and cosmology).  He lives in NYC with his fiancee and their puppy, Desi.</p>
</div>