
<form action="/users/<%= params[:user_id] %>/queries" method="POST">
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
  <label>
    Sales or Rentals: 
  <select name="title">
    <option value="sales">Sales</option>
    <option value="rentals">Rentals</option>
  </select>
  </label>

  <label>
    NYC Zip:
  <input type="text" name="zip">
  </label>
  
  <label>
    Beds:
  <input type="text" name="beds">
  </label>

  <label>
    Baths:
  <input type="text" name="baths">
  </label>
  <br>
  <button>Submit Search</button>

